fastapi==0.115.0
google_api_python_client==2.147.0
google_auth_oauthlib==1.2.1
pandas==2.2.3
pdf2image==1.17.0
Pillow==10.4.0
protobuf==5.28.2
pydantic==2.9.2
Requests==2.32.3
uvicorn==0.31.0
pymupdf==1.24.10
openai==1.41.0
supabase
pytest
pydantic-settings
python-multipart
google-cloud-pubsub
jwt
python-jose[cryptography]
passlib[bcrypt]